html,
body {
  composes: m-0 p-0 select-none;
  min-height: 100%;
  height: 0;
  // color: #ddd;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
::before,
::after {
  composes: border-current;
}

code,
kbd,
samp,
pre {
  composes: font-mono;
}

body {
  composes: bg-gray-700 font-sans text-gray-100;
}

input::placeholder,
textarea::placeholder {
  composes: text-gray-400;
}

.darkbox {
  composes: bg-gray-900;
}

.darkinput {
  composes: bg-gray-600 text-gray-200 p-2 rounded;
}
.darkbutton {
  composes: bg-gray-500 p-2 px-3 rounded;
  &:not([disabled]):hover {
    composes: bg-gray-400;
  }
  &[disabled] {
    composes: bg-gray-600;
  }
}

.smallbutton {
  composes: px-3 py-1 border border-gray-700;
}

pre {
  word-wrap: break-word;
  white-space: break-spaces;
}

.nav {
  composes: h-full shadow-md py-4 px-3 rounded bg-gray-900;
  left: 0;
  position: fixed;
  top: 0;
  width: 160px;
}
.nav-space {
  flex-shrink: 0;
  width: 160px;
}

.rightnav {
  composes: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  flex-shrink: 0;
  overflow-y: auto;
}
.rightnavspace {
  flex-shrink: 0;
  width: 400px;
}

.leftnav {
  composes: py-4 px-3 fixed bg-gray-800;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25px;
  flex-shrink: 0;
}
.leftnavspace {
  flex-shrink: 0;
  width: 25px;
}

.urlinput {
  composes: darkinput;
  flex: 1;
  &:focus {
    // outline
  }
}

.editform {
  &-input {
    composes: bg-gray-800 border-0 text-white mb-4 mt-1 p-2;
    width: 100%;
  }
}

.colorradio {
  composes: display-block border-transparent;

  border-bottom-width: 4px;
  border-radius: 0;
  padding-bottom: 4px;
  flex: 1;

  input[type="radio"]:checked + & {
    composes: border-gray-400;
  }

  &-inner {
    composes: rounded;
    width: 100%;
    height: 30px;
  }
}

.myblock {
  padding: 2px;
  line-height: 1.5;
  margin-bottom: 2px;
  margin-right: 2px;
  cursor: default;
}

.myblock-text {
  composes: myblock;
  white-space: pre;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
}

.colorstyle-gradient1 {
  background: linear-gradient(45deg, #ae00ff, #00fbff);
}
.colorstyle-gradient2 {
  background: linear-gradient(45deg, #ff00a1, #f6ff00);
}
.colorstyle-gradient3 {
  background: linear-gradient(45deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}
.colorstyle-gradient4 {
  background-color: #fa8bff;
  background-image: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
}
.colorstyle-gradient5 {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

.grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  &--list {
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
  &--card {
    // grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.myblock-bookmark {
  composes: myblock bg-gray-800 text-gray-200 rounded-lg border border-gray-900 select-none;
  // margin: 10px 0;
  // border: 1px solid #333;
  display: flex;
  flex-direction: row;
  height: 80px;
  font-size: 14px;
  padding: 0;
  cursor: default;
  overflow: hidden;

  &[data-selected] {
    composes: bg-gray-600;
  }

  &--card {
    flex-direction: column;
    height: 200px;
    // font-size: 11px;
  }

  &--list {
    height: 50px;
  }

  &-main {
    composes: flex flex-col flex-1 px-2 py-2 pl-3;
    flex: 1;
    width: 0;
    display: flex;
    flex-direction: column;

    &--card {
      width: 100%;
      height: 0;
    }
    &--list {
      flex-direction: row;
    }

    &-info {
      flex: 1;
      overflow: hidden;
      &--list {
        width: 50%;
      }
    }

    &-title {
      margin: -3px 0;
    }

    &-desc {
      margin: -3px 0;
      flex-grow: 1;
    }

    &-url {
      align-self: flex-end;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;

      &--card {
        composes: w-full;
      }

      &--grid {
        composes: w-full;
      }

      &-a {
        composes: text-gray-400;
        &:hover {
          composes: text-gray-200;
        }
      }
    }

    &--small {
      width: 100%;
      height: 0;
      order: 1;
    }
  }

  &-preview {
    width: 25px;
    flex-shrink: 0;
    // background: #eee;

    &--card {
      width: 100%;
      height: 25px;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
    }
  }
}

.progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  height: 4px;
  background-color: rgba(5, 114, 206, 0.2);
  width: 100%;
  transition: opacity 100ms;
  overflow: hidden;
  opacity: 0;
  &--show {
    opacity: 1;
  }
}

.progress-bar-value {
  width: 100%;
  height: 100%;
  background-color: rgb(5, 114, 206);
  animation: indeterminateAnimation 1s infinite linear;
  transform-origin: 0% 50%;
}

@keyframes indeterminateAnimation {
  0% {
    transform: translateX(-50%) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(150%) scaleX(0.5);
  }
}

.loadingspinner {
  width: 24px;
  height: 24px;
  border: 3px solid currentColor;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
