<div class="h-full flex flex-col justify-center p-2">
  <div class="urlcontainercontainer">
    <div x-data="createAddBookmarkModel('{{collection.id}}')" x-bind="container" class="urlcontainer">
      <div class="flex flex-col">
        <input type="text" x-model="url" x-bind="urlInput" class="urlinput" placeholder="https://example.com..."/>
        <div class="h-4"></div>
        <button type="button" id="clicker" x-bind="trigger" class="darkbutton">Add new bookmark</button>
      </div>
      <div x-show="focus" class="mt-4">
        <div class="urlcontainer-grid gap-4">
          <div>
            <div class="text-sm">Title</div>
            <input type="text" x-model="title" class="darkinput w-full" placeholder=""/>
          </div>
          <div>
            <div class="text-sm">Description</div>
            <input type="text" x-model="desc" class="darkinput w-full" placeholder=""/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>