
<div class="flex flex-row h-full" x-cloak hx-ext="alpine-morph" hx-swap="morph" hx-target="this" x-data>

  <div class="leftnavspace">
    <div x-data class="leftnav">

    </div>
  </div>

  <div class="flex-1">

    <main class="">
      <div class="container" >
          {% block main %}{% endblock %}
      </div>
    </main>
    <footer>
      <div class="container">
          {% include "footer.html" %}
      </div>
    </footer>

  </div>
  <div class="rightnavspace" data-no-click-through>
      {% block sidebar %}<div id="sidebar" key="none"></div>{% endblock%}
  </div>

</div>
