<div class="myblock-bookmark"
  :class="{
    ['myblock-bookmark--' + gridType]: true,
    'myblock-bookmark--selected': $store.global.isSelected('{{block.id}}'),
  }"
  data-block-id="{{block.id}}"
  :data-selected="$store.global.isSelected('{{block.id}}')"
  x-on:click="clickBookmark($event, '{{block.ancestor_collection_id}}', '{{block.id}}')"
  sx-swap-blocks="{{block.id}}"
>

  {% if block.bookmark %}
    <div class="myblock-bookmark-preview 
        {% if block.bookmark.image %}myblock-bookmark-preview--expand{% endif %}
        colorstyle-{{block.color}}">
      {% if block.bookmark.image %}
        <img src="{{block.bookmark.image}}" />
        <div class="myblock-bookmark-preview-overlay colorstyle-{{block.color}}"></div>
      {% endif %}
    </div>
    <div class="myblock-bookmark-main">
      <div class="myblock-bookmark-main-info">
        <div class="myblock-bookmark-main-title">{{block.bookmark.title}}</div>
        <div class="myblock-bookmark-main-desc">{{block.bookmark.description}}</div>
      </div>
      <div class="myblock-bookmark-main-url">
        <a class="myblock-bookmark-main-url-a" href="{{block.bookmark.url}}" target="_blank" x-on:click.stop>{{block.bookmark.url}}</a>
      </div>
    </div>
  {% else %}
    <div class="myblock-bookmark-preview colorstyle-{{block.color}}"></div>
    <div class="myblock-bookmark-main">
      <div>{{block.contents}}</div>
    </div>
  {% endif %}
</div>
