<div>
      
    
    <div x-data='createTagHandler({{field.data|tojson}}, {{request_url|tojson}})'>

      <template x-for="tag in tags">
          <input type="hidden" name="{{field.name}}" x-bind:value="tag">
      </template>

      <div class="relative" x-bind="container" tabindex="0">
        <div class="flex flex-row flex-wrap rounded bg-gray-600 p-1 gap-2">
            <template x-for="tag in tags" :key="tag">
              <span class="rounded px-2 py-1 bg-gray-500">
                <span x-text="tag"></span>
                <button type="button" @click="remove(tag)">
                  &times;
                </button>
              </span>
            </template>

            <input class="bg-transparent m-1 focus:outline-none flex-1"
              style="min-width: 70px"
              placeholder="Add tag..."
              x-bind="textInput"
            >
        </div>
        <div class="absolute pin-x rounded bg-gray-700 shadow-lg m-1"
            x-bind="autoComplete"
            x-show="showAutoComplete">
          <div></div>
          
        </div>

      </div>
  </div>
</div>