<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bookmarks</title>

    <script src="/static/js/styles.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <script src="/static/js/custom-htmx.js"></script>
    <script defer src="/static/js/custom-alpine-morph.js"></script>
    <script defer src="/static/js/alpine-3.10.5.js"></script>
    <script src="/static/js/alpine-integration.js"></script>
    <script src="/static/js/app.js"></script>
    {% block css %} {% endblock%}
  </head>
  <body hx-target="#pageroot" hx-ext="alpine-morph,bookmark-custom-swap" hx-swap="bookmarkCustomSwap">

    {% include "toasts.html" %}

    <div class="progress-bar" x-data="" :class="$store.requests.numRequests > 0 ? 'progress-bar--show' : ''">
      <div class="progress-bar-value"></div>
    </div>

    {{content}}

    <div x-data="$store.modal">
      <div x-show="showModal" class="modal-backdrop"
          data-no-click-through
          @keyup.escape.window="showModal = false">
        <div style="width:min-content; height:min-content" @click.away="showModal = false">
          <div id="modal-content"></div>
        </div>
      </div>
    </div>
    
    {% block js %} {% endblock%}
  </body>
</html>