<div sx-custom="openModal" class="modal-content">
  <div  class="p-5">
    <div>{{title}}</div>
    <div class="h-4"></div>
    <div class="py-4">
      {{description}}
    </div>
    <div class="h-4"></div>
    <form>
      <input type="hidden" name="confirm" value="true" />
      {% for id in ids %}
      <input type="hidden" name="ids" value="{{id}}" />
      {% endfor %}

      <div class="flex flex-row gap-2">
        <button type="button" class="w-64" @click="closeModal()">Cancel</button>
        <button hx-post="{{confirm_url}}" class="darkbutton flex-1">Confirm</button>
      </div>
    </form>
  </div>
</div>
