<div sx-custom="openModal" class="modal-content">
  <div  class="p-5">
    Confirm deleting {{blocks.count()}} blocks?
    <div class="h-64"></div>
    <form>
      <input type="hidden" name="confirm" value="true" />
      {% for bl in blocks %}
      <input type="hidden" name="ids" value="{{bl.id}}" />
      {% endfor %}

      <div class="flex flex-row">
        <button type="button" class="darkbutton" @click="closeModal()">Cancel</button>
          <div class="flex-1"></div>
        <button hx-post="/collection/{{collection_id}}/delete-multi" class="darkbutton">Confirm</button>
      </div>
    </form>
  </div>
</div>