{% extends 'base.html' %}

{% block main %}
<div class="container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-success">
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}

  <h1>{{ page.title }}</h1>
  <p>{{ page.block.contents }}</p>

  {% for block in blocks %}
    {% if block.page %}
      <div>
        <a href="/page/{{ block.id }}">{{ block.page.title }}</a>
      </div>
    {% elif block.bookmark_ref %}
      <div style="border:1px solid #ccc; padding:2px">
      <div>{{block.bookmark_ref.bookmark.title}}</div>
      <div>{{block.bookmark_ref.bookmark.description}}</div>
      <a href="{{block.bookmark_ref.bookmark.url}}">{{block.bookmark_ref.bookmark.url}}</a>
      </div>
    {% else %}
      <div>{{ block.contents }}</div>
    {% endif %}
  {% endfor %}

  <pre>{{query}}</pre>

</div>
{% endblock %}
