{% extends 'base.html' %}

{% block main %}

<div x-data="{ 'gridType': 'grid', 'collectionId': '{{collection.id}}' }">
  <div class="px-10 py-4 h-16 flex flex-row">
    <div class="text-sm flex-1 self-center">
      {{ collection.title }}
    </div>
    <div class="text-sm">
      <div class="flex flex-row">
        <button type="button" class="smallbutton rounded-tl rounded-bl" :class="{'bg-gray-800': gridType == 'grid'}" @click="gridType = 'grid'">Grid</button>
        <button type="button" class="smallbutton" :class="{'bg-gray-800': gridType == 'list'}" @click="gridType = 'list'">List</button>
        <button type="button" class="smallbutton rounded-tr rounded-br" :class="{'bg-gray-800': gridType == 'card'}" @click="gridType = 'card'">Card</button>
      </div>
    </div>
  </div>

  <div class="flex flex-row items-stretch">
    <div class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-success">
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endwith %}

      
      <div class="px-10 pt-2">


        <div class="h-12"></div>

        <div class="grid" :class="'grid--' + gridType" id="added">
        </div>

        {% for group, label, blocks in groups %}

          <h2 class="text-sm">
            {{label}}
          </h2>

          <div class="grid" :class="'grid--' + gridType">
          {% for block in blocks %}
            {% include 'bookmark.html' %}
          {% endfor %}
          </div>

          <div class="h-5"></div>

        {% endfor %}
      </div>

      <code>{{query}}</code>

    </div>

  </div>
</div>
{% endblock %}