{% extends 'base.html' %}

{% block main %}

<div key="collection" x-data="{ 'gridType': 'grid', 'collectionId': '{{collection.id}}' }">
  <div class="px-10 py-4 h-16 flex flex-row">
    <div class="text-sm flex-1 self-center flex flex-row gap-2 items-center">
      <a href="/" hx-boost="true">Dashboard</a>
      <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg></div>
      <div>{{ collection.title }}</div>
    </div>
    <div class="text-sm">
      <div class="flex flex-row">
        <button type="button" class="smallbutton rounded-tl rounded-bl" :class="{'bg-gray-800': gridType == 'grid'}" @click="gridType = 'grid'">Grid</button>
        <button type="button" class="smallbutton" :class="{'bg-gray-800': gridType == 'list'}" @click="gridType = 'list'">List</button>
        <button type="button" class="smallbutton rounded-tr rounded-br" :class="{'bg-gray-800': gridType == 'card'}" @click="gridType = 'card'">Card</button>
      </div>
    </div>
  </div>

  <div class="flex flex-row items-stretch">
    <div class="container">
      
      <div class="px-10 pt-2">


        <div class="h-12"></div>

        <div class="grid" :class="'grid--' + gridType" id="added">
        </div>

        {% for group, label, blocks in groups %}

          <h2 class="text-sm mb-2">
            {{label}}
          </h2>

          <div class="grid" :class="'grid--' + gridType">
          {% for block in blocks %}
            {% include 'bookmark.html' %}
          {% endfor %}
          </div>

          <div class="h-20"></div>

        {% endfor %}
      </div>

      <code>{{query}}</code>

    </div>

  </div>
</div>
{% endblock %}

{% block sidebar %}
{% include "sidebar_add.html" %}
{% endblock %}