{% extends 'base.html' %}

{% block main %}

<div key="collection" x-data="{ 'gridType': 'grid', 'collectionId': '{{collection.id}}' }">
  <div class="px-10 py-4 h-16 flex flex-row items-center">
    <div class="text-sm self-center flex flex-row gap-2 items-center">
      <img src="{{avatar}}" class="rounded-full mr-2" />
      <a href="/" hx-boost="true">Dashboard</a>
      <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg></div>
      <div><a href="/collection/{{collection.id}}" hx-boost="true">{{ collection.title }}</a></div>
    </div>
    <div class="flex-1 px-5 flex flex-row justify-center">
      <div class="flex-1"></div>
      <div class="relative" style="flex-basis:500px; height: 56px">
        <div x-data="createSearchHandler('{{collection.id}}')" class="absolute p-2 pin bottom-auto rounded" :class="focus ? 'bg-gray-800' : ''" x-bind="container">
          <input type="text" name="search" class="darkinput focus:outline-none w-full" placeholder="Search" x-bind="input" />
          <div x-show="focus" class="mt-2 text-sm">
            Search tags?
          </div>
        </div>
      </div>
      <div class="flex-1"></div>
    </div>
    <div class="text-sm">
      <div class="flex flex-row">
        <button type="button" class="smallbutton rounded-tl rounded-bl" :class="{'bg-gray-800': gridType == 'grid'}" @click="gridType = 'grid'">Grid</button>
        <button type="button" class="smallbutton" :class="{'bg-gray-800': gridType == 'list'}" @click="gridType = 'list'">List</button>
        <button type="button" class="smallbutton rounded-tr rounded-br" :class="{'bg-gray-800': gridType == 'card'}" @click="gridType = 'card'">Card</button>
      </div>
    </div>
  </div>

  <div class="container">
    
    <div class="px-10 pt-2">

      <div class="h-12"></div>

      {% if pinned %}
        {% set group = 'pinned' %}
        {% set label = 'Pinned' %}
        {% set blocks = pinned %}
        <div x-data="{gridType:'card'}">
          {% include "collection_group.html" %}
        </div>
      {% endif %}

      <div id="group-empty"></div>

      {% for group, label, blocks in groups %}
        {% include "collection_group.html" %}
      {% endfor %}

      {% if pagination %}

      <div class="flex flex-row items-center justify-center mb-10">
          <a href="{{ make_url(page=pagination.prev_num) }}" hx-boost="true"
            class="px-4 py-2 rounded hover:bg-gray-600 
            {% if pagination.page == 1 %}disabled{% endif %}">
              &laquo;
          </a>
          {% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
              {% if page_num %}
                  {% if pagination.page == page_num %}
                  <a href="{{ make_url(page=page_num) }}" hx-boost="true"
                    class="px-4 py-2 rounded bg-gray-800">
                      {{ page_num }}
                  </a>
                  {% else %}
                  <a href="{{ make_url(page=page_num) }}" hx-boost="true"
                    class="px-4 py-2 rounded hover:bg-gray-600">
                      {{ page_num }}
                  </a>
                  {% endif %}
              {% else %}
                  <div class="px-5">...</div>
              {% endif %}
          {% endfor %}
          <a href="{{ make_url(page=pagination.next_num) }}" hx-boost="true"
            class="px-4 py-2 rounded hover:bg-gray-600 
            {% if pagination.page == pagination.pages %}disabled{% endif %}">
              &raquo;
          </a>
      </div>

      {% endif %}

    </div>


  </div>
</div>
{% endblock %}

{% block sidebar %}
{% include "sidebar_add.html" %}
{% endblock %}