{% from "render_field.html" import render_field %}

<div x-data class="rightnav bg-gray-800 shadow-lg" key="sidebar_add" x-show="!$store.global.dynamicSidebarOpen">
    
  <div class="px-6 py-4 h-16 flex items-center text-sm">

    <div class="mr-auto">{{ collection.title }}</div>


    <div x-data="{dropdownMenu: false}" class="relative" key="dropdownMenu">
      <button @click="dropdownMenu = !dropdownMenu"
        class="flex items-center smallbutton"
        :class="dropdownMenu ? 'bg-gray-600' : ''">
          <span class="">menu</span>
      </button>
      <div x-show="dropdownMenu" class="absolute py-2 mt-2 bg-gray-600
        right-0 rounded-md shadow-xl w-48" 
        @click.outside="dropdownMenu = false">
          <button class="dropdownbutton text-right" hx-post="">
              Rename
          </button>
          <button class="dropdownbutton text-right" hx-post="">
              Delete
          </button>
      </div>
    </div>


  </div>

  <div class="h-full flex flex-col justify-center p-2">
    <div class="mx-auto w-full">

      <form x-data='createForm({ "initialValues": {{add_form.data|tojson}} })'
          method="POST" action="/create" hx-boost="true" 
          hx-swap="bookmarkCustomSwap" hx-push-url="false"
          x-bind="form"
          class="p-4 rounded-md">
          
          {{ render_field(add_form.collection_id) }}

        <div class="flex flex-col gap-4">

          {{ render_field(add_form.url, placeholder="https://example.com...") }}
          {{ render_field(add_form.title) }}
          {{ render_field(add_form.desc) }}

          <div class="w-g-10 mx-auto">
            <button class="darkbutton w-full" type="submit" id="clicker" x-bind="trigger">
              <div>Add to collection</div>
            </button>
          </div>
        </div>

      </form>
    </div>

    <div class="h-20"></div>

    <div class="w-g-10 mx-auto">
      <button class="darkbutton w-full">Import bookmarks</button>
    </div>
  </div>
</div>

<div x-show="$store.global.dynamicSidebarOpen">
<div id="dynamicsidebar" x-skip-morph></div>
</div>