<div id="dynamicsidebar">
<div x-data class="rightnav bg-gray-800 shadow-lg" key="sidebar_multi">

  <div class="px-6 py-4 h-16 flex items-center text-sm">
    <div>Edit multiple</div>
  </div>
  
  <div class="py-4 px-6">

    <div>{{blocks|length}} selected</div>
    <div class="h-4"></div>

    <form>
      {% for bl in blocks %}
      <input type="hidden" name="ids" value="{{bl.id}}" />
      {% endfor %}

      <div class="flex flex-col gap-2">
        <div>
          <button class="darkbutton w-full text-left" hx-post="{{url_for('copy_blocks', collection_id=collection_id)}}">Copy/move to another collection</button>
        </div>
        <div><button class="darkbutton w-full text-left">Manage tags</button></div>
        <div>
          <button class="darkbutton w-full text-left" hx-post="{{url_for('remove_blocks', collection_id=collection_id)}}">Remove</button>
        </div>
      </div>
    </form>

  </div>


</div>
</div>