<div x-data class="rightnav bg-gray-800 shadow-lg" id="sidebar">
    
  <div class="px-6 py-4 h-16 flex items-center text-sm">
    <div>{{ collection.title }}</div>
  </div>

  <div class="h-full flex flex-col justify-center p-2">
    <div class="mx-auto w-full">
      
      <form x-data="
          createForm({
            'onSubmit': addBookmark,
            'initialValues': {
              'collection_id': '{{collection.id}}',
              'url': '',
              'title': '',
              'desc': ''
            }
          })" 
          x-bind="form"
          class="p-4 rounded-md">
        <div class="flex flex-col gap-4">
          <div>
            <div class="text-sm mb-1">Add a new URL</div>
            <input type="text" x-model="url" class="urlinput w-full" placeholder="https://example.com..."/>
          </div>

          <div>
            <div class="text-sm mb-1">Title</div>
            <input type="text" x-model="title" class="darkinput w-full" placeholder=""/>
          </div>
          <div>
            <div class="text-sm mb-1">Description</div>
            <input type="text" x-model="desc" class="darkinput w-full" placeholder=""/>
          </div>
          
          <div class="w-g-10 mx-auto">
            <button class="darkbutton w-full" type="submit" id="clicker" x-bind="trigger">
              <div>Add to collection</div>
            </button>
          </div>
        </div>

      </form>
    </div>

    <div class="h-20"></div>

    <div class="w-g-10 mx-auto">
      <button class="darkbutton w-full">Import bookmarks</button>
    </div>
  </div>
</div>