{% from "render_field.html" import render_field %}

<div id="dynamicsidebar">
<div x-data class="rightnav bg-gray-800 shadow-lg" key="sidebar_single">

  <div class="px-6 py-4 h-16 flex items-center text-sm">
{% if block.bookmark %}
    <div class="mr-auto">Edit bookmark</div>
{% else %}
    <div class="mr-auto">Edit note</div>
{% endif %}


    <div x-data="{dropdownMenu: false}" class="relative" key="dropdownMenu">
      <button @click="dropdownMenu = !dropdownMenu"
        class="flex items-center smallbutton"
        :class="dropdownMenu ? 'bg-gray-600' : ''">
          <span class="">menu</span>
      </button>
      <div x-show="dropdownMenu" class="absolute py-2 mt-2 bg-gray-600
        right-0 rounded-md shadow-xl w-48" 
        @click.outside="dropdownMenu = false">

        {% if block.pinned_at %}
          <button class="dropdownbutton text-right" hx-post="/block/{{block.id}}/pinned?pinned=false">
              Unpin
          </button>
        {% else %}
          <button class="dropdownbutton text-right" hx-post="/block/{{block.id}}/pinned?&pinned=true">
              Pin
          </button>
        {% endif %}
        <form>
          <input type="hidden" name="ids" value="{{block.id}}" />
          <button class="dropdownbutton text-right" hx-post="{{url_for('copy_blocks', collection_id=block.ancestor_collection_id)}}">
              Copy/move
          </button>
          <button class="dropdownbutton text-right" hx-post="{{url_for('remove_blocks', collection_id=block.ancestor_collection_id)}}">
              Remove
          </button>
        </form>
      </div>
    </div>

  </div>

  <div class="py-4 px-6">
    <form key="{{block.id}}" class="editform"
      x-data='createForm({ "initialValues": {{form.data|tojson}} })'
      method="POST" action="/save" hx-boost="true" 
      hx-swap="bookmarkCustomSwap" hx-push-url="false"
      x-bind="form">

      {{ render_field(form.id) }}
      {{ render_field(form.collection_id) }}
      
      <div class="flex flex-col gap-2">
      {% if block.bookmark %}

        {{ render_field(form.url) }}
        {{ render_field(form.title) }}
        {{ render_field(form.color) }}
        {{ render_field(form.image) }}
        {% if block.bookmark.image %}
        <img src="{{block.bookmark.image}}" />
        {% endif %}
        {{ render_field(form.tags) }}
        {{ render_field(form.desc) }}
        {{ render_field(form.notes) }}
        
      {% else %}

        {{ render_field(form.color) }}
        {{ render_field(form.contents) }}

      {% endif %}
      </div>

      <button class="darkbutton w-full relative" x-bind="trigger">
        <div>Save</div>
      </button>
    </form>
  </div>

</div>
</div>