<div x-data class="rightnav bg-gray-800 shadow-lg" id="sidebar" key="sidebar_multi">

  <div class="px-6 py-4 h-16 flex items-center text-sm">
    <div>Edit multiple</div>
  </div>
  
  <div class="py-4 px-6">

    <div>{{blocks|length}} selected</div>
    <div class="h-4"></div>

    <div class="flex flex-col gap-2">
      <div><button class="darkbutton w-full text-left">Remove from collection</button></div>
      <div><button class="darkbutton w-full text-left">Move to another collection</button></div>
      <div><button class="darkbutton w-full text-left">Copy to another collection</button></div>
      <div><button class="darkbutton w-full text-left">Add tags</button></div>
      <div><button class="darkbutton w-full text-left">Remove tags</button></div>
      <div><button class="darkbutton w-full text-left">Delete</button></div>
    </div>

  </div>


</div>