{% from "render_field.html" import render_field %}

<div x-data class="rightnav bg-gray-800 shadow-lg" id="sidebar">

{% if block.bookmark %}
  <div class="px-6 py-4 h-16 flex items-center text-sm">
    <div>Edit bookmark</div>
  </div>
{% else %}
  <div class="px-6 py-4 h-16 flex items-center text-sm">
    <div>Edit note</div>
  </div>
{% endif %}

  <div class="py-4 px-6">
    <form key="{{block.id}}" class="editform"
      x-data='createForm({ "initialValues": {{form.data|tojson}} })'
      method="POST" action="/save" hx-boost="true" 
      hx-swap="bookmarkCustomSwap" hx-push-url="false"
      x-bind="form">

      {{ render_field(form.id) }}
      {{ render_field(form.collection_id) }}
      
      <div class="flex flex-col gap-2">
      {% if block.bookmark %}

        {{ render_field(form.url) }}
        {{ render_field(form.title) }}
        {{ render_field(form.color) }}
        {{ render_field(form.image) }}
        {{ render_field(form.desc) }}
        {{ render_field(form.notes) }}
        
      {% else %}

        {{ render_field(form.color) }}
        {{ render_field(form.contents) }}

      {% endif %}
      </div>

      <button class="darkbutton w-full relative" x-bind="trigger">
        <div>Save</div>
      </button>
    </form>
  </div>

</div>