<div key="autocomplete {{input}}">
    <div class="flex flex-row flex-wrap gap-2 p-3">
    {% for tag in tags %}
      <button type="button" class="rounded px-2 py-1 bg-gray-500 hover:bg-gray-400" 
            x-show="!tags.includes('{{tag}}')" x-on:click="add('{{tag}}')">{{tag}}</button>
    {% endfor %}
    
    {% if input %}
      <button type="button" class="px-2 py-1"
          x-show="!tags.includes('{{input}}')" x-on:click="add('{{input}}')">Add {{input}}</button>
    {% endif %}
    </div>

    
</div>