
<div
  x-data=""
  class="fixed left-auto inset-0 flex flex-col-reverse items-end justify-start h-screen w-screen"
  style="z-index: 1000; pointer-events:none; width: 300px; right: 400px"
  @notice.window="$store.toasts.add($event.detail)"
  data-no-click-through
  >
  <template x-for="notice of $store.toasts.notices" :key="notice.id">
    <div
      x-show="$store.toasts.visible.includes(notice)"
      x-transition:enter="slidetransition-enter"
      x-transition:enter-start="slidetransition-enter-start"
      x-transition:enter-end="slidetransition-enter-end"
      x-transition:leave="slidetransition-leave"
      x-transition:leave-start="slidetransition-leave-start"
      x-transition:leave-end="slidetransition-leave-end"
      @click="$store.toasts.remove(notice.id)"
      style="pointer-events:all"
      x-html="notice.html">
    </div>
  </template>
</div>