
<div
  x-data=""
  class="fixed left-auto inset-0 flex flex-col-reverse items-end justify-start h-screen w-screen"
  style="z-index: 1000; pointer-events:none; width: 300px; right: 400px"
  @notice.window="$store.toasts.add($event.detail)"
  data-no-click-through
  >
  <template x-for="notice of $store.toasts.notices" :key="notice.id">
    <div
      x-show="$store.toasts.visible.includes(notice)"
      x-transition:enter="transition ease-in duration-200"
      x-transition:enter-start="transform opacity-0 translate-y-2"
      x-transition:enter-end="transform opacity-100"
      x-transition:leave="transition ease-out duration-500"
      x-transition:leave-start="transform translate-x-0 opacity-100"
      x-transition:leave-end="transform translate-x-full opacity-0"
      @click="$store.toasts.remove(notice.id)"
      style="pointer-events:all"
      x-html="notice.html">
    </div>
  </template>
</div>